opqwebconfig:
    host: 0.0.0.0
    port: 8888
    username: enjoy
    password: "1234567"
    enable: true
opqbotconfig:
    url: "http://127.0.0.1:8888"
    qq: 0
dbconfig:
    dbtype: "sqlite3"
    dbusername: ""
    dbpassword: ""
    dbip: ""
    dbport: ""
    dbname: "data.db"
reverseproxy: ""
defaultgroupconfig:
    enable: true
    adminuin: 0
    menu: |-
        菜单
        1. 签到
        2. 积分
        3. 赞我
    menukeyword: '#菜单|#功能'
    shutupword: SSR|SS
    shutuptime: 100
    joinverifytime: 0
    joinautoshutuptime: 0
    zan: false
    bili: true
    signin: true
    welcome: ""
    joinverifytype: 0
    job: {}
superadminuin: 2435932516
whitegrouplist: []
blackgrouplist: []
groupconfig:
    863872040:
        enable: true
        adminuin: 0
        menu: |-
            菜单
            1. 签到
            2. 积分
            3. 赞我
        menukeyword: '#菜单|#功能'
        shutupword: SSR|SS
        shutuptime: 100
        joinverifytime: 240
        joinautoshutuptime: 0
        zan: true
        signin: true
        welcome: ""
        joinverifytype: 1
        job: {}
userdata:
    0:
        lastsignday: 0
        lastzanday: 24
        count: 0
